secretName: docker-ecr
# target Namespace defaults to release namespace if left unspecified
# targetNamespace: "*"

ecr:
  # region: us-east-1
  # dockerRegistries: https://ACCOUNT_2_ID.dkr.ecr.us-east-1.amazonaws.com,https://ACCOUNT_2_ID.dkr.ecr.us-east-1.amazonaws.com
  auth:
    # Either use an existing secret and optionally override secret key names
    # (and optionally override secret key names to match your existing secret)
    #
    existingSecret: null
    secretKeys:
      awsAccessKeyIdKey: AWS_ACCESS_KEY_ID
      awsSecretAccessKeyKey: AWS_SECRET_ACCESS_KEY
    #
    # Or provide AWS AK/SK (helm 3 values are saved as secrets)
    accessKeyId: null
    secretAccessKey: null

image:
  repository: nabsul/k8s-ecr-login-renew
  tag: v1.7.1
  pullPolicy: IfNotPresent
