apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ required "Cron job name is required" .Values.names.cronJob }}
  namespace: {{ .Release.Namespace | default "default" }}
{{- if .Values.forHelm }}
  labels:
    app.kubernetes.io/name: {{ .Chart.Name }}
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
{{- end }}
spec:
  schedule: "{{ required "Schedule is required" .Values.cronjob.schedule }}"
  successfulJobsHistoryLimit: {{ required "Success job history limit is required" .Values.cronjob.successfulJobsHistoryLimit }}
  failedJobsHistoryLimit: {{ required "Failed job history limit is required" .Values.cronjob.failedJobsHistoryLimit }}
{{- if .Values.cronjob.startingDeadlineSeconds }}
  startingDeadlineSeconds: {{ .Values.cronjob.startingDeadlineSeconds }}
{{- end }}
  jobTemplate:
    spec:
      template:
        {{- include "k8s-ecr-login-renew.jobPodTemplate" . | nindent 8 }}
