name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag k8s-ecr-login-renew

    - name: Log into registry
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login docker.pkg.github.com -u ${{ github.actor }} --password-stdin

    - name: Push image
      run: |
        VERSION=$(date +%s)
        IMAGE=docker.pkg.github.com/nabsul/k8s-ecr-login-renew/k8s-ecr-login-renew:$VERSION
        [ "$VERSION" == "master" ] && VERSION=latest
        docker tag k8s-ecr-login-renew $IMAGE
        docker push $IMAGE
